/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/studio-projektowe-2022.iml
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/*.iml
